:root{
    --primary-color: #222831;
    --secondary-color: #16191e;
    --tertiary-color: #00ADB5;  
    --quarternary-color: #EEEEEE;
}

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--primary-color);
    line-height: 1.6;
}

nav{
    position: sticky;
    top: 0;
    background: black;
    color: var(--quarternary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
      backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1000;
    
    
    
    
}

nav *{
    color: var(--quarternary-color);
}

nav .brand{
    font-weight: 500;
    font-size: larger;
    padding: 15px 0px;

    padding-bottom: 20px;
    

}


nav .navlinks{
    display: flex;
    gap: 30px;
    height: 100%;
}

nav .navlinks a{
    height: 100%;
    font-size:small;
    text-decoration: none;
}

nav .navlinks a:hover{
    /* text-decoration: underline; */
    color: var(--tertiary-color);
    font-weight: 500;
    border-bottom: 2px solid var(--tertiary-color);
}

nav .nav-end {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

nav .nav-end a{
    text-decoration: none;
    font-weight: 300;
    color: var(--quarternary-color);
    font-size: small;
}

nav img{
    filter: invert(1);
}

.carousel{
    width: 100%;
    height: 500px ;
    overflow: hidden;
}

.carousel-item{
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:0px -200px;
    background: linear-gradient(to right, black, transparent);
}

.carousel-text{
    position: absolute;
    top: 30%;
    left: 10%;
    color: var(--quarternary-color);
    font-size: xx-large;
    font-weight: 600;
}

.featured{
    background-color: var(--secondary-color);
    color: var(--quarternary-color);
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;

}

.featured h2{
    margin: 10px 0px;
    font-weight: 500;
    font-size: larger;
}

hr{
    width: 40vw;
    border: none;
      background: linear-gradient(
    to right,
    transparent,
    var(--quarternary-color),
    transparent
  );
    height: 2px;
    
}

.featured-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    padding: 40px;
    gap: 100px;

}

.featured-items .featured-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    flex: 1;

}

.featured-items img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}

.products{
    background-color: var(--primary-color);
    color: var(--quarternary-color);
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;

}

.products h2{
    margin: 10px 0px;
    font-weight: 500;
    font-size: larger;
}

.products-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    padding: 40px;
    gap: 100px;

}

.products-items .products-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    flex: 1;

}

.products-items img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}

footer{
    background-color: var(--secondary-color);
    color: var(--quarternary-color);
    text-align: center;
    padding: 20px;
    font-size: small;
    margin-top: 40px;
}

footer a{
    color: var(--tertiary-color);
    text-decoration: none;
    font-weight: 500;
}

footer a:hover{
    text-decoration: underline;
}