:root{
    --primary-color: #222831;
    --secondary-color: #393E46;
    --tertiary-color: #00ADB5;  
    --quarternary-color: #EEEEEE;
    --border-radius: 8px;
    --box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3), 0 4px 8px rgba(60, 64, 67, 0.15);
}

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--quarternary-color);
}

nav{
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    
    
    
    
}

nav .brand{
    font-weight: 500;
    font-size: larger;
    padding: 20px 0px;

    padding-bottom: 20px;
    

}


nav .navlinks{
    display: flex;
    gap: 30px;
    height: 100%;
}

nav .navlinks a{
    height: 100%;
    font-size:small;
    text-decoration: none;
    color: var(--secondary-color);
}

nav .navlinks a:hover{
    /* text-decoration: underline; */
    color: var(--tertiary-color);
    font-weight: 500;
    border-bottom: 2px solid var(--tertiary-color);
}

nav .nav-end {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 15px;
}

nav .nav-end a{
    text-decoration: none;
    font-weight: 300;
    color: var(--secondary-color);
    font-size: small;
}
