:root{
    --primary-color: #222831;
    --secondary-color: #393E46;
    --tertiary-color: #00ADB5;  
    --quarternary-color: #EEEEEE;
}

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--primary-color);
    line-height: 1.6;
}

nav{
    position: sticky;
    top: 0;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.907), rgba(255, 255, 255, 0.848), rgba(255, 255, 255, 0.854));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
      backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1000;
    
    
    
    
}

nav .brand{
    font-weight: 500;
    font-size: larger;
    padding: 20px 0px;

    padding-bottom: 20px;
    

}


nav .navlinks{
    display: flex;
    gap: 30px;
    height: 100%;
}

nav .navlinks a{
    height: 100%;
    font-size:small;
    text-decoration: none;
    color: var(--secondary-color);
}

nav .navlinks a:hover{
    /* text-decoration: underline; */
    color: var(--tertiary-color);
    font-weight: 500;
    border-bottom: 2px solid var(--tertiary-color);
}

nav .nav-end {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 15px;
}

nav .nav-end a{
    text-decoration: none;
    font-weight: 300;
    color: var(--secondary-color);
    font-size: small;
}

.carousel{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}